Repository AGH-Narzedzia-Informatyczne-2022-2023/Archipelag-Gier, pull requests merged in 2022-11, with the labels that each got.

#9 Snake v0.1
  SNAKE/snake-v0.1.cpp
  SNAKE/snake-v0.1.exe
Labels: Snake

#11 Space Invaders
  Space Invaders/Assets/Classic.meta
  Space Invaders/Assets/Classic/Prefabs.meta
  Space Invaders/Assets/Classic/Prefabs/Bullet Variant.prefab
  Space Invaders/Assets/Classic/Prefabs/Bullet Variant.prefab.meta
  Space Invaders/Assets/Classic/Prefabs/Bullet.prefab
  Space Invaders/Assets/Classic/Prefabs/Bullet.prefab.meta
  Space Invaders/Assets/Classic/Prefabs/Enemy_1.prefab
  Space Invaders/Assets/Classic/Prefabs/Enemy_1.prefab.meta
  Space Invaders/Assets/Classic/Prefabs/Player.prefab
  Space Invaders/Assets/Classic/Prefabs/Player.prefab.meta
  Space Invaders/Assets/Classic/Scripts.meta
  Space Invaders/Assets/Classic/Scripts/Bullet.cs
  Space Invaders/Assets/Classic/Scripts/Bullet.cs.meta
  Space Invaders/Assets/Classic/Scripts/Enemy.cs
  Space Invaders/Assets/Classic/Scripts/Enemy.cs.meta
  Space Invaders/Assets/Classic/Scripts/GameManager.cs
  Space Invaders/Assets/Classic/Scripts/GameManager.cs.meta
  Space Invaders/Assets/Classic/Scripts/Player.cs
  Space Invaders/Assets/Classic/Scripts/Player.cs.meta
  Space Invaders/Assets/Classic/Sprites.meta
  Space Invaders/Assets/Classic/Sprites/Alien_1.png
  Space Invaders/Assets/Classic/Sprites/Alien_1.png.meta
  Space Invaders/Assets/Classic/Sprites/Player.png
  Space Invaders/Assets/Classic/Sprites/Player.png.meta
  Space Invaders/Assets/MainScripts.meta
  Space Invaders/Assets/MainScripts/SpaceInput.cs
  Space Invaders/Assets/MainScripts/SpaceInput.cs.meta
  Space Invaders/Assets/MainScripts/SpaceInput.inputactions
  Space Invaders/Assets/MainScripts/SpaceInput.inputactions.meta
  Space Invaders/Assets/Scenes.meta
  Space Invaders/Assets/Scenes/Classic.unity
  Space Invaders/Assets/Scenes/Classic.unity.meta
  Space Invaders/Assets/Scenes/Menu.unity
  Space Invaders/Assets/Scenes/Menu.unity.meta
Labels: Space Invaders

#12 Create saperkod
  saperkod
Labels: good first issue
